$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// Color del texto y fondo
$color-texto: #000078;
$color-fondo: #73edff;

// Tamaño de la fuente
$texto-xs: 20px;
$texto-sm: 30px;
$texto-md: 40px;

// Tamaño de la imagen
$imagen-xs: 80px;
$imagen-sm: 120px;
$imagen-md: 200px;

// Tamaño de los iconos FontAwesome
$fontawesome-xs: 4em;
$fontawesome-sm: 5em;
$fontawesome-md: 6em;
